:root {
  --search-corner-radius: 20px;
}

.search-result-item-content {
  > h4 {
    text-align: start;
    margin: 0px 0px 10px 0px;
  }
  > ul {
    padding: 0px;

    li {
      list-style: none;
      margin-right: 20px;
    }
  }

}

main {
  padding: 0.5em 1em 0.5em 1em;
  margin: 0px;
}

.jogo-info-property {
  /* background-color: #EEEEEE; */
  padding: 0.75rem;
  max-width: 30ch;

  > h4 {
    margin: 0;
    padding: 0;
  }

  /* line-height: 0px; */
  > ul {
    margin: 0.5em 0em 0em 0em;
    padding: 0.0em 0em 0em 1em;

    li {
      margin-top: 0.5em;
    }
  }
}

.imagem-galeria {
  display:flex;
  flex-wrap: wrap;
  border: solid 1px gray;
}

.imagem-galeria-item {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 10px;
  box-shadow: 0px 0px 10px;
}

.jogo-titulo {
  /* text-decoration: underline; */
  /* border-bottom: 1px solid gray; */
}

.jogo-info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  background-color: #EEEEEE;
  border: solid 1px #AAAAAA;
}

.jogo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: fit-content;
  width: fit-content;
  /* border: solid 1px #AAAAAA; */
  padding: 1rem;
  gap: 2rem;

  > img {
    height: 100%;
    max-height: 23rem;
    max-width: 100%;
    object-fit: contain;
    /* margin: 1rem 2rem 1rem 1rem; */
    box-shadow: 0px 0px 10px;
  }
}

.search-result-list {
  /* margin: 20px; */
  padding: 0px;
}

.search-result-item {
  display: grid;
  grid-template-columns: 4rem auto;
  grid-template-rows: auto;
  margin: 0.5rem 0em 0.5rem 0em;
  padding: 0.5rem;
  border: 1px solid #AAAAAA;
  list-style: none;

  > img {
    object-fit: cover;
    width: 3rem;
    height: 4rem;
  }
}

.search-bar {
  display: grid;
  grid-template-columns: 50vw auto;
  > * {font-size: large;}
  margin-left: 1rem;
  margin-right: 1rem;
}

.search-input {
  border-top-left-radius: var(--search-corner-radius);
  border-bottom-left-radius: var(--search-corner-radius);
  padding: 0.5rem 1rem 0.5rem 1rem;
  border:  #AAAAAA 2px solid;
}

.search-button {
  width: 3em;
  margin-left: 0.1em;
  border-top-right-radius: var(--search-corner-radius);
  border-bottom-right-radius: var(--search-corner-radius);
  /* text-align: center; */
  border: #AAAAAA 2px solid;
  /* background-color: #EEEEEE; */
}

.navbar-container {
  /* display: flex; */
  border-bottom: gray 1px solid;
}

.navbar-top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  /* padding: 10px; */
  padding: 0.5em;
  border-bottom: 1px gray solid;
}

.quick-access {

  > ul {
    /* background-color: antiquewhite; */
    list-style-type: none;
    padding: 0.5em 0em 0.5em 0em;
    margin: 0px;
    display: flex;
    justify-content: start;

    > li {
      font-size: medium;
      display: inline-block;
      margin: 0rem 1rem 0rem 1rem;
      /* border: 1px blue dashed; */
      /* padding: ; */
    }
  }
}
